# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js build output
/.next/
/out/

# Production
/build

# Local environment files
.env*.local
.env

# SQLite & local database
*.db
*.db-journal
/prisma/*.db
/prisma/*.db-journal

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Vercel & IDE
.vercel
.idea
.vscode
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
*.zip

